{% extends "father.html"%}
{%block a%}
<style>
  .card-body{

  }
</style>
<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/img air blower.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">air blower</h5>
              <p class="card-text">Mini Air Blower Turbo Fan Jet Fan Violent 130000 Rpm Turbo Fan Usb Rechargeable Summer</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
      </div>
    </br>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/mouse.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mouse</h5>
              <p class="card-text">SAMA Wired Gaming Mouse</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/cable.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">cable</h5>
              <p class="card-text">4 in 1 Fast Charging Cable (Type C/USB A/Lightning) Dual Type C PD 27W 65W Nylon Braided Cable | Flat Braided i-Phone Charging Cable with Velcro Multi Charging Cable Combo Type C/USB-A Ports</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
    
      </div>
    </br>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        
      </div>
    </br>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
      </div>
    </div>
  </div>

{%endblock%}